.daily {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-shadow: none;
    background: transparent;
    width: 15%;
    border-radius: 1rem;
    border: 1px solid black;
    color: white;
    margin-left: 1rem;
}