.daily {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-shadow: none;
    background: transparent;
    width: 15%;
    border-radius: 1rem;
    border: 1px solid black;
    color: white;
    margin-left: 1rem;
    margin-top: 1rem;
}

@media only screen and (max-width: 600px) {
    .daily {
        width: 80%;
        margin: 2%;
        margin-left: 8%;
    }
}