.card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-left: 40%;
    margin-top: 10rem;
    width: 20%;
    background-color: rgba(0, 0, 0, .5);
    color: #fff;
    border-radius: 2rem;
}

.single {
    background-size: cover;
}